<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMainManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8083/Service" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMainManager" contract="ServiceReference.IMainManager"
                name="NetTcpBinding_IMainManager">
                <identity>
                    <userPrincipalName value="LAP\cecm1" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8092/AhorcadoService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameManager"
                contract="CallbackServiceReference.IGameManager" name="NetTcpBinding_IGameManager">
                <identity>
                    <userPrincipalName value="MATEBOOK-D15\jafet" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>