<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMainManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://172.20.10.8:8083/MainService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMainManager" contract="ServiceReference.IMainManager"
                name="NetTcpBinding_IMainManager" />
            <endpoint address="net.tcp://172.20.10.8:8092/AhorcadoService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameManager"
                contract="CallbackServiceReference.IGameManager" name="NetTcpBinding_IGameManager" />
        </client>
    </system.serviceModel>
</configuration>